@theme inline {
  --font-sans: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;
}

/* Mobile (base) */
@theme {
  --text-h1: 28px;
  --text-h2: 24px;
  --text-h3: 20px;
  --text-h4: 18px;
  --text-sh1: 16px;
  --text-sh2: 12px;
  --text-cta: 14px;
  --text-b1: 14px;
  --text-b2: 12px;
  --text-b3: 10px;

  --leading-h1: 1.3;
  --leading-h2: 1.2;
  --leading-h3: 1.2;
  --leading-h4: 1.2;
  --leading-sh1: 1.3;
  --leading-sh2: 1.3;
  --leading-cta: 1.2;
  --leading-b1: 1.5;
  --leading-b2: 1.5;
  --leading-b3: 1.5;

  --font-h1: 600;
  --font-h2: 600;
  --font-h3: 600;
  --font-h4: 600;
  --font-sh1: 500;
  --font-sh2: 500;
  --font-cta: 600;
  --font-b1: 500;
  --font-b2: 500;
  --font-b3: 500;
}

/* Desktop */
@media (width >= theme(--breakpoint-md)) {
  :root {
    --text-h1: 48px;
    --text-h2: 42px;
    --text-h3: 32px;
    --text-h4: 24px;
    --text-sh1: 18px;
    --text-sh2: 14px;
    --text-cta: 16px;
    --text-b1: 16px;
    --text-b2: 14px;
    --text-b3: 12px;
  }
}
