@theme inline {
  --spacing-container: 1800px;
  --spacing-container-narrow: 1194px;
}

/* Mobile (base) */
@theme {
  /* Roundings */
  --radius-responsive-20: 16px;

  /* Spacing */
  --spacing-responsive-16: 12px;

  /* Frame */
  --spacing-responsive-horizontal: 16px;
  --spacing-responsive-vertical: 32px;
}

/* Tablet */
@media (width >= theme(--breakpoint-md)) {
  :root {
    /* Roundings */
    --radius-responsive-20: 18px;

    /* Spacing */
    --spacing-responsive-16: 14px;

    /* Frame */
    --spacing-responsive-horizontal: 32px;
    --spacing-responsive-vertical: 50px;
  }
}

/* Desktop */
@media (width >= theme(--breakpoint-lg)) {
  :root {
    /* Roundings */
    --radius-responsive-20: 20px;

    /* Spacing */
    --spacing-responsive-16: 16px;

    /* Frame */
    --spacing-responsive-horizontal: 120px;
    --spacing-responsive-vertical: 80px;
  }
}
