@layer components {
  .container-base {
    @apply max-w-container mx-auto box-content px-4 sm:px-8 md:px-12 lg:px-16 xl:px-20;
  }

  .overflow-scroll-p-md {
    @apply px-4 sm:px-8 md:px-12 lg:px-0;
  }

  .h1 {
    @apply text-[26px] leading-[1.15] font-extrabold md:text-[46px];
  }

  .h2 {
    @apply text-[20px] leading-[1.15] font-bold md:text-[36px];
  }

  .h3 {
    @apply text-lg leading-normal font-bold md:text-[24px];
  }

  .h4 {
    @apply text-base leading-normal font-bold md:text-xl;
  }

  .label {
    @apply text-xs leading-[150%];
  }

  .link {
    @apply text-secondary hover:text-secondary-dark cursor-pointer underline transition-colors;
  }

  .link-primary {
    @apply text-primary hover:text-primary-dark cursor-pointer underline transition-colors;
  }

  .mobile-menu {
    @apply pointer-events-none gap-8 bg-white opacity-0;
    @apply data-active:pointer-events-auto data-active:scale-100 data-active:opacity-100;
    @apply transition-all ease-out;
    @apply absolute top-0 left-0 z-70 w-full;
    @apply h-screen;
  }

  .menu-icon {
    @apply hover:bg-primary-lightest data-active:bg-primary-lightest text-primary-dark bg-primary-light;
    @apply h-11 w-11 md:h-[46px] md:w-[46px];
    @apply inline-flex items-center justify-center lg:hidden;
    @apply cursor-pointer rounded-full transition-colors;
  }

  .lang-icon {
    @apply min-h-11 px-5 py-1 md:min-h-[46px] md:px-6;
    @apply inline-flex items-center gap-2;
    @apply rounded-full;
    @apply text-primary-lightest;
    @apply border-primary-lightest border;
    @apply hover:bg-primary-lightest data-active:bg-primary-lightest data-active:text-primary-dark hover:text-primary-dark bg-transparent;
    @apply cursor-pointer transition-colors;
  }

  .lang-menu {
    @apply pointer-events-none absolute top-[calc(100%+10px)] left-1/2 z-50 max-h-[225px] w-[100px] -translate-x-1/2 translate-y-3 overflow-y-auto rounded-[10px] bg-white opacity-0 shadow-md transition-all duration-300 data-active:pointer-events-auto data-active:translate-y-0 data-active:opacity-100;
  }

  .btn {
    --btn-text: var(--color-white);
    --btn-text-hover: var(--color-white);
    --btn-border: var(--color-text);
    --btn-border-hover: var(--color-secondary-light);
    --btn-border-width: 2px;

    --btn-bg: var(--color-text);
    --btn-bg-hover: var(--color-secondary-light);
    --btn-bg-image: none;
    --btn-bg-image-hover: none;
    --btn-shadow: none;
    --btn-shadow-hover: none;

    @apply inline-flex items-center justify-center;
    @apply min-h-10 px-7 py-1.5 md:min-h-11;
    @apply rounded-full;
    @apply text-sm leading-none font-extrabold md:text-xl;
    @apply cursor-pointer transition-all;

    @apply border-(length:--btn-border-width) border-(--btn-border) bg-(--btn-bg) bg-(image:--btn-bg-image) text-(--btn-text) shadow-(--btn-shadow);
    @apply hover:border-(--btn-border-hover) hover:bg-(--btn-bg-hover) hover:bg-(image:--btn-bg-image-hover) hover:text-(--btn-text-hover) hover:shadow-(--btn-shadow-hover);
  }

  .btn-big {
    @apply min-h-12 min-w-60 text-lg md:min-h-14.5 md:min-w-[304px] md:font-black;
  }

  .btn-small {
    @apply min-h-7 px-3 py-1 text-xs font-semibold;
  }

  .form-message {
    @apply invisible fixed top-1/2 left-1/2 z-20 w-full max-w-[340px] -translate-1/2 scale-0 opacity-0 transition-all md:max-w-[600px];
    @apply data-error:visible data-error:scale-100 data-error:opacity-100;
    @apply data-success:visible data-success:scale-100 data-success:opacity-100;
  }

  .form-message ul {
    @apply list-inside list-disc;
  }

  .input {
    @apply text-sm;
    @apply w-full px-5.5 py-2 md:h-11;
    @apply border-primary-darkest bg-white;
    @apply rounded-[20px] border-2;
    @apply data-novalid:border-red-500 data-valid:border-green-600;
  }

  .input-big {
    @apply h-14 md:h-[68px] md:text-xl;
  }

  .input-light {
    @apply border-primary-lighter px-5 md:px-7.5;
  }

  .checkbox {
    @apply checked:bg-check checked:bg-primary-darkest border-primary-darkest h-5 w-5 appearance-none rounded-lg border checked:bg-center checked:bg-no-repeat;
  }

  .breadcrumb-item {
    @apply px-2 py-1 text-sm;
  }

  .breadcrumb-item:not(:first-child) {
    @apply pl-1 before:mr-2 before:content-['/'];
  }

  .disc {
    @apply list-item list-inside list-disc;
  }

  .list {
    @apply list-inside list-disc;
  }

  .list-num {
    @apply list-inside list-decimal;
  }

  .rounded-custom-sm {
    @apply rounded-sm md:rounded-md;
  }

  .rounded-custom {
    @apply rounded-[20px] md:rounded-[30px];
  }

  .rounded-custom-xl {
    @apply rounded-[40px] md:rounded-[60px];
  }

  .underline-custom {
    @apply relative before:absolute before:-bottom-1 before:h-px before:w-full before:bg-[currentColor];
  }

  .paggination {
    @apply inline-flex flex-wrap gap-5 justify-self-center;
  }

  .paggination-dot {
    @apply data-active:bg-primary bg-primary-lighter h-2.5 w-2.5 cursor-pointer rounded-full transition-all data-active:scale-[1.5];
  }

  .text-small {
    @apply text-xs md:text-sm;
  }

  .icon-wrapper {
    @apply text-primary inline-flex h-12 w-12 shrink-0 items-center justify-center md:h-[60px] md:w-[60px];
  }

  .arrow-btn {
    @apply bg-primary-light text-white opacity-70;
    @apply hover:opacity-100;
    @apply h-[50px] w-[50px] rounded-full;
    @apply inline-flex items-center justify-center;
    @apply pointer-events-auto cursor-pointer transition-all;
    @apply disabled:cursor-default disabled:opacity-30;
  }

  .num-label {
    @apply bg-primary-light absolute right-0 bottom-0 inline-flex h-3 w-3 translate-1/4 items-center justify-center rounded-full text-[6px] font-bold;
  }

  .color-checkbox {
    @apply cursor-pointer;
  }
  .color-circle {
    --color-bg: var(--color-white);
    @apply block h-6 w-6 rounded-full border border-gray-300 bg-(--color-bg);
  }
  .color-checkbox:has(input:checked) .color-circle {
    @apply border-primary-darkest;
  }

  .size-checkbox {
    @apply cursor-pointer;
  }
  .size-circle {
    @apply border-gray inline-flex h-6 w-6 items-center justify-center rounded-full border-2 bg-white text-[11px] leading-0 font-extrabold -tracking-widest;
  }
  .size-checkbox:has(input:checked) .size-circle {
    @apply border-primary-darkest;
  }

  .order-radio-custom {
    @apply border-gray flex cursor-pointer flex-col items-center justify-center rounded-2xl border-2 bg-white p-5 text-center;
  }
  .order-radio-custom:has(input:checked) {
    @apply border-primary-darkest bg-gray-lightest;
  }

  .num-circle {
    @apply bg-primary-darkest inline-flex h-5 w-5 items-center justify-center rounded-full text-xs font-bold text-white md:h-7 md:w-7;
  }

  .tag {
    @apply data-success:bg-success data-warning:bg-warning data-error:bg-error inline-flex items-center justify-center rounded-full px-6 py-2 text-sm text-white;
  }
}
