@layer utilities {
  /* Chrome, Safari, Edge */
  .no-arrows::-webkit-inner-spin-button,
  .no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@utility mirror-x {
  transform: scaleX(-1);
}

@utility mirror-y {
  transform: scaleY(-1);
}

@utility mirror-xy {
  transform: scale(-1);
}

@utility bg-linear-main {
  background-image: linear-gradient(to right, var(--color-gradient-from), var(--color-gradient-to));
}

@utility download-block-gradient {
  background: linear-gradient(
    0deg,
    rgba(var(--color-body-rgb), 1) 0%,
    rgba(var(--color-body-rgb), 1) 80%,
    rgba(var(--color-body-rgb), 0) 100%
  );
}

@utility btn-base {
  --btn-bg: var(--color-text);
  --btn-bg-hover: var(--color-secondary-light);
  --btn-text: var(--color-white);
  --btn-text-hover: var(--color-white);
  --btn-border: var(--color-text);
  --btn-border-hover: var(--color-secondary-light);
  --btn-bg-image: none;
  --btn-bg-image-hover: none;
  --btn-shadow: none;
  --btn-shadow-hover: none;
}

@utility btn-white {
  --btn-bg: var(--color-white);
  --btn-bg-hover: var(--color-primary-darker);
  --btn-text: var(--color-primary-darkest);
  --btn-text-hover: var(--color-white);
  --btn-border: var(--color-primary-darkest);
  --btn-border-hover: var(--color-primary-darker);
  --btn-bg-image: none;
  --btn-bg-image-hover: none;
  --btn-shadow: none;
  --btn-shadow-hover: none;
}

@utility btn-dark {
  --btn-bg: var(--color-dark);
  --btn-bg-hover: var(--color-secondary-dark);
  --btn-text: var(--color-white);
  --btn-text-hover: var(--color-white);
  --btn-border: var(--color-dark);
  --btn-border-hover: var(--color-secondary-dark);
  --btn-bg-image: none;
  --btn-bg-image-hover: none;
  --btn-shadow: none;
  --btn-shadow-hover: none;
}

@utility btn-primary {
  --btn-bg: var(--color-primary);
  --btn-bg-hover: var(--color-primary-light);
  --btn-text: var(--color-white);
  --btn-text-hover: var(--color-white);
  --btn-border: var(--color-primary);
  --btn-border-hover: var(--color-primary-light);
  --btn-bg-image: none;
  --btn-bg-image-hover: none;
  --btn-shadow: none;
  --btn-shadow-hover: none;
}

@utility btn-primary-dark {
  --btn-bg: var(--color-primary);
  --btn-bg-hover: var(--color-primary-light);
  --btn-text: var(--color-primary-darkest);
  --btn-text-hover: var(--color-primary-darker);
  --btn-border: var(--color-primary);
  --btn-border-hover: var(--color-primary-light);
  --btn-bg-image: none;
  --btn-bg-image-hover: none;
  --btn-shadow: none;
  --btn-shadow-hover: none;
}

@utility btn-secondary {
  --btn-bg: var(--color-secondary-light);
  --btn-bg-hover: var(--color-secondary);
  --btn-text: var(--color-white);
  --btn-text-hover: var(--color-white);
  --btn-border: var(--color-secondary-light);
  --btn-border-hover: var(--color-secondary);
  --btn-bg-image: none;
  --btn-bg-image-hover: none;
  --btn-shadow: none;
  --btn-shadow-hover: none;
}

@utility btn-secondary-dark {
  --btn-bg: var(--color-secondary);
  --btn-bg-hover: var(--color-secondary-light);
  --btn-text: var(--color-black);
  --btn-text-hover: var(--color-black);
  --btn-border: var(--color-secondary);
  --btn-border-hover: var(--color-secondary-light);
  --btn-bg-image: none;
  --btn-bg-image-hover: none;
  --btn-shadow: none;
  --btn-shadow-hover: none;
}

@utility btn-transparent {
  --btn-bg: transparent;
  --btn-bg-hover: var(--color-primary-dark);
  --btn-text: var(--color-primary);
  --btn-text-hover: var(--color-white);
  --btn-border: var(--color-primary);
  --btn-border-hover: var(--color-primary-dark);
  --btn-bg-image: none;
  --btn-bg-image-hover: none;
  --btn-shadow: none;
  --btn-shadow-hover: none;
}

@utility btn-transparent-white {
  --btn-bg: transparent;
  --btn-bg-hover: var(--color-primary);
  --btn-text: var(--color-white);
  --btn-text-hover: var(--color-white);
  --btn-border: var(--color-white);
  --btn-border-hover: var(--color-primary);
  --btn-bg-image: none;
  --btn-bg-image-hover: none;
  --btn-shadow: none;
  --btn-shadow-hover: none;
}

@utility btn-transparent-base {
  --btn-bg: transparent;
  --btn-bg-hover: var(--color-secondary-light);
  --btn-text: var(--color-text);
  --btn-text-hover: var(--color-white);
  --btn-border: var(--color-text);
  --btn-border-hover: var(--color-secondary-light);
  --btn-bg-image: none;
  --btn-bg-image-hover: none;
  --btn-shadow: none;
  --btn-shadow-hover: none;
}

@utility btn-gradient {
  --btn-bg: transparent;
  --btn-bg-hover: transparent;

  --btn-bg-image: linear-gradient(90deg, var(--color-gradient-from) 0%, var(--color-gradient-to) 100%);
  --btn-bg-image-hover: linear-gradient(90deg, var(--color-gradient-from) 0%, var(--color-gradient-to) 100%);

  --btn-shadow: 0 0 0 0 transparent;
  --btn-shadow-hover:
    0 10px 15px -3px rgba(var(--color-primary-rgb), 0.5), 0 4px 6px -4px rgba(var(--color-primary-rgb), 0.5);

  --btn-text: #fff;
  --btn-text-hover: #fff;
  --btn-border: transparent;
  --btn-border-hover: transparent;
  --btn-border-width: 0px;
}
